*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  background-color: #F1EFEC;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
}
.main-section {
  padding: 0.25%;
  letter-spacing: .045rem;
}
#navbar header {
  color: #D4C9BE;
}
#navbar li {
  color: #030303;
}
#navbar a {
  color: #D4C9BE;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #030303;
}
p {
  padding: 0.5%;
}
pre {
  white-space: pre-wrap;
  max-width: 100%;  
  overflow-x: auto;
  background-color: #D4C9BE; 
  padding: 10px; 
  border-radius: 5px; 
  opacity: 90%;
}
code {
  font-family: monospace; 
  color: #030303; 
}

/* fit most potrait smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  #navbar {
    text-align: center;
    background: linear-gradient(#123458 88%, #F1EFEC);
    max-width: 100%;
    padding: 25px;
  }
  #navbar li a {
    display: none;
  }
  #navbar header {
    font-size: 3rem;
    font-weight: 700;
  }
  #introduction {
    margin-top: 0;
  }
  .main-section {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .main-section h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 10%;
    border-bottom: 2px solid #030303;
  }
  #footer-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #footer {
    background-color: #123458;
    color: #F1EFEC;
    display: grid;
    align-items: center;
  }
  #footer h2 {
    grid-column-end: span 3;
  }
  #footer a {
    color: #D4C9BE;
  }
} 

/* fit most low resolution tablets and landscape smartphones */
@media (min-width: 481px) and (max-width: 900px) {
  #navbar {
    background: linear-gradient(#123458 85%, #F1EFEC);
    max-width: 100%;
    padding: 2%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.75%;
  }
  #navbar header {
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 2px solid #030303;
  }
  #navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar a {
    font-weight: 500;
    font-size: 1rem;
    padding: 5%;
  }
  .main-section h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 4%;
    border-bottom: 2px solid #030303;
  }
  #footer {
    background-color: #123458;
    color: #F1EFEC;
    display: grid;
    align-items: center;
  }
  #footer h2 {
    grid-column-end: span 3;
  }
  #footer a {
    color: #D4C9BE;
  }
}

/* tablets / ipads */
@media (min-width: 901px) and (max-width: 1024px) {
  #navbar {
    background: linear-gradient(#123458 85%, #F1EFEC);
    max-width: 100%;
    padding: 2%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.75%;
  }
  #navbar header {
    font-size: 3.7rem;
    font-weight: 700;
    border-bottom: 2px solid #030303;
    color: #D4C9BE;
  }
  #navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar a {
    font-weight: 500;
    font-size: 1.7rem;
    padding: 5%;
    color: #D4C9BE;
  }
  .main-section h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 4%;
    border-bottom: 2px solid #030303;
  }
  .main-section {
    font-size: 1.5rem;
  }
  #footer {
    background-color: #123458;
    color: #F1EFEC;
    display: grid;
    align-items: center;
  }
  #footer h2 {
    grid-column-end: span 3;
  }
  #footer a {
    color: #D4C9BE;
  }
}

 /* laptops / desktops */ /* Work In Progress */
 @media (min-width: 1025px) and (max-width: 1280px) {
  #navbar {
    background-color: #123458;
    width: 30%;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    margin-right: 0.5%;
  }
  #navbar header {
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 2px solid #030303;
    color: #D4C9BE;
    padding: 1%;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 1%;
  }
  #navbar li {
    margin: 2%;
  }
  #navbar a {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1%;
  }
  main {
    margin-left: 30%;
    font-size: larger;
  }
  .main-section h2 {
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #030303;
    margin-top: 2.5%;
  }
 }

/* desktops */ /* Work In Progress */
@media (min-width: 1281px) {
  #navbar {
    background-color: #123458;
    width: 20%;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    margin-right: 0.5%;
  }
  #navbar header {
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 2px solid #030303;
    color: #D4C9BE;
    padding: 1%;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 1%;
  }
  #navbar li {
    margin: 2%;
  }
  #navbar a {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1%;
  }
  main {
    margin-left: 20%;
    font-size: larger;
  }
  .main-section h2 {
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #030303;
    margin-top: 2.5%;
  }
}